
@{
    ViewBag.Title = "Sales By Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sales By Item</title>
    <style>
        .breadcrumb-item + .nav-item::before {
            content: ">";
        }

        .shapes {
            width: 32px;
            height: 32px;
            background-color: lightgray;
        }

        .box {
            width: 10%;
            display: inline;
            text-align: center;
            color: white;
        }

        .small-box.text-center {
            box-shadow: 0 0 0;
        }

        .select2 {
            font-family: 'FontAwesome'
        }

        .select2-container .select2-selection--single {
            height: calc(2.25rem + 2px) !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 28px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 8px;
        }
    </style>
</head>
<body>
    <section class="content">
        <div class="card container-fluid posDash" style="background: none; box-shadow: none !important;">
            <div class="card-body">
                <div class="col-lg-11 col-md-11 col-12 p-0 row m-0">
                    <div class="col-lg-4 col-md-12 col-12 pl-0">
                        <div id="reportrange" class="w-100 text-center" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc;">
                            <i class="far fa-calendar-alt" style="float: left; padding-top: 4px;"></i>&nbsp;
                            <span></span> @*<i class="fa fa-caret-down" style="float: right;"></i>*@
                        </div>
                    </div>
                    <div class="row mx-0 col-xl-4 col-lg-6 col-md-12 col-12 pl-0">
                        <div class="form-group my-0 col-lg-6 col-md-12 col-12 px-0">
                            <div class="row pull-right">
                                <div class="dropdown col-12">
                                    <button class="btn btn-default btn-block bg-transparent dropdown-toggle dropdown-toggle-split text-center" type="button" id="dropdownDay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-clock pr-2"></i> <span>All Day</span>
                                    </button>
                                    <ul class="dropdown-menu checkbox-menu allow-focus allDay" aria-labelledby="dropdownDay">
                                        <li>
                                            <div class="col-12">
                                                <input type="radio" name="rbDay" id="AllDay" /> All Day
                                            </div>
                                            <hr style="height:0.1px;border-width:0;color:gray;background-color:gray; margin: 8px 0px 8px 0px" />
                                        </li>
                                        <li>
                                            <div class="col-12">
                                                <input type="radio" name="rbDay" id="CustomDay" /> Custom Period
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row mx-0 col-12 CustomDay">
                                                <div class="col-6">
                                                    <span class="w-100"> Start </span>
                                                    <input type="text" class="form-input datetimepicker-input" id="starttime" data-toggle="datetimepicker" data-target="#starttime" />
                                                </div>
                                                <div class="col-6">
                                                    <span class="w-100"> End </span>
                                                    <input type="text" class="form-input datetimepicker-input" id="endtime" data-toggle="datetimepicker" data-target="#endtime" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-11 col-md-11 col-12 p-0 row m-0">
                    <div class="col-lg-4 col-md-12 col-12 pr-lg-1 pl-0">
                        <div class="card" style="min-height: 420px;">
                            <div class="card-header border-0 ui-sortable-handle">
                                <h3 class="card-title">
                                    Top 5 items
                                </h3>
                                <span class="float-right">Net sales</span>
                            </div>
                            <div class="card-body">
                                <div class="dt-responsive table-responsive">
                                    <table id="table_netSales">
                                        <thead>
                                            <tr>
                                                <th class="vertical-middle" style="width: 70%;"></th>
                                                <th class="vertical-middle text-right" style="width:30%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-12 pl-lg-1 pr-0">
                        <div class="card" style="min-height: 420px;">
                            <div class="card-header border-0 ui-sortable-handle">
                                <h3 class="card-title">
                                    Sales by item chart
                                </h3>
                                <div class="float-right col-md-6 col-12 px-0 pt-md-0 pt-2 row m-0">
                                    <div class="col-6">
                                        <select class="form-control select2" id="typeChart"></select>
                                    </div>
                                    <div class="col-6">
                                        <select class="form-control select2" id="typeTimes"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body col-12" style="display: block;">
                                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                <canvas class="chart chartjs-render-monitor" id="divChart" style="min-height: 320px; max-height: 250px; max-width: 100%; display: block;" width="580" height="312"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-11 col-md-11 col-12 m-0">
                    <div class="card">
                        <div class="card-header border-0 ui-sortable-handle">
                            <h3 class="card-title" id="btnExport" style="cursor: pointer;">
                                EXPORT
                            </h3>
                            <img src="~/Content/icons/Icon_columns.png" style="float: right;" width="28" height="28" />
                        </div>
                        <div class="card-body">
                            <div class="dt-responsive table-responsive">
                                <table id="table_export" class="table table-hover wrap">
                                    <thead>
                                        <tr>
                                            <th class="vertical-middle">Item</th>
                                            <th class="vertical-middle">SKU</th>
                                            <th class="vertical-middle">Category</th>
                                            <th class="text-right vertical-middle">Item sold</th>
                                            <th class="text-right vertical-middle">Gross sales</th>
                                            <th class="text-right vertical-middle">Net sales</th>
                                            <th class="text-right vertical-middle">Cost of goods</th>
                                            <th class="text-right vertical-middle">Gross profit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts
{
    <script src="~/Areas/Reports/Lib/SalesByItem.js"></script>
}
