
@{
    ViewBag.Title = "Receipts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Receipts</title>
    <style>
        .breadcrumb-item + .nav-item::before {
            content: ">";
        }

        .box {
            width: 10%;
            display: inline;
            text-align: center;
            color: white;
        }

        .small-box.text-center {
            box-shadow: 0 0 0;
        }

        .select2 {
            font-family: 'FontAwesome'
        }

        .select2-container .select2-selection--single {
            height: calc(2.25rem + 2px) !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 28px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 8px;
        }

        .active-title {
            border-bottom: 4px solid green;
            padding-bottom: 4px;
        }
    </style>
</head>
<body>
    <section class="content">
        <div class="card container-fluid posDash" style="background: none; box-shadow: none !important;">
            <div class="card-body">
                <div class="col-lg-10 col-md-10 col-12 p-0 row m-0">
                    <div class="col-lg-3 col-md-12 col-12 pl-0">
                        <div id="reportrange" class="w-100 text-center" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc;">
                            <i class="far fa-calendar-alt" style="float: left; padding-top: 4px;"></i>&nbsp;
                            <span></span>
                        </div>
                    </div>
                    <div class="row mx-0 col-lg-2 col-md-12 col-12 pl-0 pt-lg-0 pt-md-1 pt-2">
                        <div class="form-group my-0 col-12 px-0">
                            <div class="row pull-right">
                                <div class="dropdown col-12">
                                    <button class="btn btn-default btn-block bg-white dropdown-toggle dropdown-toggle-split text-center" type="button" id="dropdownDay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-clock pr-2"></i> <span>All Day</span>
                                    </button>
                                    <ul class="dropdown-menu checkbox-menu allow-focus allDay" aria-labelledby="dropdownDay">
                                        <li>
                                            <div class="col-12">
                                                <input type="radio" name="rbDay" id="AllDay" /> All Day
                                            </div>
                                            <hr style="height:0.1px;border-width:0;color:gray;background-color:gray; margin: 8px 0px 8px 0px" />
                                        </li>
                                        <li>
                                            <div class="col-12">
                                                <input type="radio" name="rbDay" id="CustomDay" /> Custom Period
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row mx-0 col-12 CustomDay">
                                                <div class="col-6">
                                                    <span class="w-100"> Start </span>
                                                    <input type="text" class="form-input datetimepicker-input" id="starttime" data-toggle="datetimepicker" data-target="#starttime" />
                                                </div>
                                                <div class="col-6">
                                                    <span class="w-100"> End </span>
                                                    <input type="text" class="form-input datetimepicker-input" id="endtime" data-toggle="datetimepicker" data-target="#endtime" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 col-lg-2 col-md-12 col-12 pl-0 pt-lg-0 pt-md-1 pt-2">
                        <div class="form-group my-0 col-12 px-0">
                            <div class="row pull-right">
                                <div class="dropdown col-12">
                                    <button class="btn btn-default btn-block bg-white dropdown-toggle dropdown-toggle-split text-center" type="button" id="dropdownStores" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-clock pr-2"></i> <span>All Stores</span>
                                    </button>
                                    <ul class="dropdown-menu checkbox-menu allow-focus allStores" aria-labelledby="dropdownStores">
                                        <li>
                                            <div class="col-12">
                                                <input type="checkbox" name="cbAllStores" id="AllStores" /> All Stores
                                            </div>
                                            <hr style="height:0.1px;border-width:0;color:gray;background-color:gray; margin: 8px 0px 8px 0px" />
                                        </li>
                                        <li>
                                            <div class="col-12">
                                                <input type="checkbox" name="cbStores" id="Retail" /> Retail
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-12">
                                                <input type="checkbox" name="cbStores" id="Signature" /> Signature
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 pl-0 pt-lg-0 pt-md-1 pt-2">
                        <select class="form-control select2" id="employees"></select>
                    </div>
                </div>
            </div>
            <div class="card-body col-lg-10 col-md-10 col-12">
                <div class="card">
                    <div class="card-header border-0 ui-sortable-handle">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6 align-content-center">
                                <div class="small-box text-center m-0 titleChart" id="0" style="cursor:pointer;">
                                    <div class="col-12 row m-0 p-0 justify-content-center">
                                        <div class="align-content-center" style="background-color: darkgrey; border-radius: 45px; width: 64px; height: 64px;">
                                            <i class="fa fa-receipt fa-2x text-white"></i>
                                        </div>
                                        <div class="pl-3">
                                            <span>All Receipts</span>
                                            <h2 class="text-left" id="allReceipt">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 align-content-center">
                                <div class="small-box text-center m-0 titleChart" id="1" style="cursor:pointer;">
                                    <div class="col-12 row m-0 p-0 justify-content-center">
                                        <div class="align-content-center" style="background-color: forestgreen; border-radius: 45px; width: 64px; height: 64px;">
                                            <i class="fa fa-file-invoice-dollar fa-2x text-white"></i>
                                        </div>
                                        <div class="pl-3">
                                            <span>Sales</span>
                                            <h2 class="text-left" id="Sales">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 align-content-center">
                                <div class="small-box text-center m-0 titleChart" id="2" style="cursor:pointer;">
                                    <div class="col-12 row m-0 p-0 justify-content-center">
                                        <div class="align-content-center" style="background-color: mediumvioletred; border-radius: 45px; width: 64px; height: 64px;">
                                            <i class="fa fa-undo fa-2x text-white"></i>
                                        </div>
                                        <div class="pl-3">
                                            <span>Refund</span>
                                            <h2 class="text-left" id="Refund">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header border-0 ui-sortable-handle">
                        <h3 class="card-title" id="btnExport" style="cursor: pointer;">
                            EXPORT
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="dt-responsive table-responsive">
                            <table id="table_export" class="table table-hover wrap">
                                <thead>
                                    <tr>
                                        <th style="vertical-align:middle;">Receipt No.</th>
                                        <th style="vertical-align:middle;">Date</th>
                                        <th style="vertical-align:middle;">Store</th>
                                        <th style="vertical-align:middle;">Employee</th>
                                        <th style="vertical-align:middle;">Customer</th>
                                        <th style="vertical-align:middle;">Type</th>
                                        <th style="vertical-align:middle;">Total</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDetail" data-backdrop="static">
            <div class="modal-dialog float-right" style="min-width: 406px; min-height: 600px;">
                <div class="modal-content" style="min-height: 600px;">
                    <div class="modal-header bg-transparent py-1">
                        <h2 data-dismiss="modal" style="color: black !important; cursor: pointer;">&times;</h2>
                    </div>
                    <div class="modal-body">
                        <div class="card-body px-0 py-1">
                            <input type="hidden" id="DOCNUMBER" value="" />
                            <span class="col-12 px-0 text-right float-right" id="DocType"></span>
                            <div class="col-12 px-0 text-center">
                                <h2 id="Amount" class="w-100"></h2>
                                <span class="w-100">Total</span>
                            </div>
                            <hr />
                            <div class="col-12 px-0">
                                <div class="w-100">Employee: <span id="Employee_Name"></span></div>
                                <div class="w-100">POS: <span id="Store_ID"></span></div>
                            </div>
                            <hr />
                            <div class="col-12 px-0">
                                <table id="table_bill" class="w-100"><tbody></tbody></table>
                            </div>
                            <hr />
                            <div class="col-12 px-0">
                                <div class="row mx-0 justify-content-between">
                                    <label>Total</label>
                                    <label id="TotalBill"></label>
                                </div>
                                <div class="row mx-0 justify-content-between detailPayment">
                                    <span>Card</span>
                                    <span id="TotalBill">Rp18.000</span>
                                </div>
                                <hr />
                                <div class="row mx-0 justify-content-between detailPayment">
                                    <span id="DOCDATE" class="text-gray"></span>
                                    <span id="DOCNUMBER_txt" class="text-gray"></span>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts
{
    <script src="~/Areas/Reports/Lib/Receipt.js?v=2"></script>
}
