<footer class="main-footer bg-transparent" style="text-align: center; padding: 10px; font-size: 12pt; border: none; color: black;">
    &copy; <span id="copyrightOutput"></span> <a href="#" target="_blank" style="color:black;">Blueverse™</a><b>.</b>
</footer>
<script type="text/javascript">
    //var date = new Date(),
    //    year = date.getFullYear();
    //document.getElementById("copyrightOutput").innerHTML = year;
</script>
