
@{
    ViewBag.Title = "Inventory Counts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory Counts</title>
    <style>
        .breadcrumb-item + .nav-item::before {
            content: ">";
        }

        .box {
            width: 10%;
            display: inline;
            text-align: center;
            color: white;
        }

        .small-box.text-center {
            box-shadow: 0 0 0;
        }
    </style>
</head>
<body>
    <section class="content">
        <div class="card container-fluid" style="background: none; box-shadow: none !important;">
            <div class="card-body col-lg-11 col-md-12 col-12">
                <div class="card listInvCount">
                    <div class="card-header border-0 ui-sortable-handle">
                        <div class="row m-0">
                            <div class="col-lg-3 col-md-12 col-12" style="align-self: center;">
                                <button type="button" class="btn btn-primary" id="btnAddInvCount"> + ADD INVENTORY COUNT</button>
                            </div>
                            <div class="col-lg-9 col-md-12 col-12">
                                <div class="row m-0 col-12" style="justify-content: right;">
                                    <div class="form-group col-lg-3 col-md-6 col-12 m-0 pl-0">
                                        <span class="col-12 pl-0 spanselect">Status</span>
                                        <select class="form-control select2" id="status">
                                            <option id="">All</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6 col-12 m-0 pl-0">
                                        <span class="col-12 pl-0 spanselect">Store</span>
                                        <select class="form-control select2" id="store">
                                            <option id="">All</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6 col-12 m-0 pl-0">
                                        <span class="col-12 pl-0 spanselect">Site</span>
                                        <select class="form-control select2" id="site">
                                            <option id="">All</option>
                                        </select>
                                    </div>
                                    <a class="text-gray pl-2 pb-1" style="align-self: end;"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="dt-responsive table-responsive">
                                <table id="table_invcount" class="table table-hover wrap">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Inventory Count #</th>
                                            <th style="vertical-align:middle;">Date created</th>
                                            <th style="vertical-align:middle;">Date completed</th>
                                            <th style="vertical-align:middle;">Store</th>
                                            <th style="vertical-align:middle;">Site</th>
                                            <th style="vertical-align:middle;">Status</th>
                                            <th style="vertical-align:middle;">Notes</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-lg-9 col-md-12 col-12 pt-0 addInvCount">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 row m-0">
                            <div class="form-group col-lg-6 col-md-6 col-12 m-0 pl-0">
                                <span class="col-12 pl-0 spanselect">Site</span>
                                <select class="form-control select2" id="IC_SITE">
                                    <option id="">All</option>
                                </select>
                            </div>
                            <div class="form-group col-12 ml-0 mr-0 pl-0">
                                <label class="form-label" for="IC_NOTES">Notes</label>
                                <input id="IC_NOTES" class="form-input" type="text" maxlength="500" />
                                <span class="spanselect" style="float: right;" id="sumNotes"></span>
                            </div>
                            <div class="form-group row col-12 ml-0 mr-0 pl-0" style="align-items: center;">
                                <label class="col-form-label pr-5">Type</label>
                                <input type="radio" class="ictype" id="IC_TYPE_PARTIAL" />
                                <span class="pl-2 pr-4">Partial</span>
                                <input type="radio" class="ictype" id="IC_TYPE_FULL" />
                                <span class="pl-2 pr-4">Full</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header border-0 ui-sortable-handle">
                        <div class="row m-0">
                            <div class="col-6">
                                <h4>Items</h4>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn text-success" id="btnAddByCat">ADD BY CATEGORY</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-0">
                        <div class="col-12 row m-0">
                            <div class="dt-responsive table-responsive">
                                <table id="table_additem" class="table table-hover wrap">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Item</th>
                                            <th class="text-right" style="vertical-align:middle;">Expected stock</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0" style="border-top: 1px solid lightgray;">
                    <div class="col-12 p-0 row ml-0 mr-0 mt-3" style="justify-content: right;">
                        <button type="button" class="btn btn-default mr-1 ml-1" id="btnCancel" style="width: 120px;">CANCEL</button>
                        <button type="button" class="btn btn-primary mr-1 ml-1" id="btnAdjust" style="width: 120px;">SAVE</button>
                        <button type="button" class="btn btn-primary mr-1 ml-1" id="btnAdjust" style="width: 180px;">SAVE &amp; COUNT</button>
                    </div>
                </div>
            </div>
            <div class="card-body col-lg-9 col-md-12 col-12 pt-0 editInvCount">
                <div class="card">
                    <div class="card-header border-0 ui-sortable-handle">
                        <div class="col-12 p-0 row m-0">
                            <div class="col-6 p-0">
                                <button type="button" class="btn" id="btnBack"><i class="fa fa-chevron-left pr-2"></i> All Inventory Counts</button>
                            </div>
                            <div class="col-6 p-0 row m-0" style="justify-content: right;">
                                <button type="button" class="btn" id="btnCountStock">COUNT STOCK</button>
                                <button type="button" class="btn" id="btnEdit">EDIT</button>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        MORE
                                    </button>
                                    <ul class="dropdown-menu allow-focus" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <span type="button" class="pl-2" id="saveasPDF2">Save as PDF</span>
                                        </li>
                                        <li>
                                            <span type="button" class="pl-2" id="saveasCSV2">Save as CSV</span>
                                        </li>
                                        <li>
                                            <span type="button" class="pl-2" id="deleteTfItem">Delete transfer order</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-0">
                        <div class="col-12 m-0 row">
                            <h3 class="mb-0" id="IC_ITEMNMBR">IC1002</h3>
                            <span class="spanselect" id="IC_STATUS_ITEM">Pending</span>
                            <div class="form-group col-lg-7 col-md-7 col-12">
                                <div class="row m-0">
                                    <label class="col-form-label col-lg-3 col-md-4 col-12 p-0">Date created <span style="float: right; padding: 0 8px 0 0">:</span></label>
                                    <label class="col-form-label font-weight-normal col-lg-9 col-md-8 col-12 p-0" id="IC_DATEITEM">Sep 20, 2023</label>
                                </div>
                                <div class="row m-0">
                                    <label class="col-form-label col-lg-3 col-md-4 col-12 p-0">Created by <span style="float: right; padding: 0 8px 0 0">:</span></label>
                                    <label class="col-form-label font-weight-normal col-lg-9 col-md-8 col-12 p-0" id="IC_CREATEDBY">Owner</label>
                                </div>
                            </div>
                            <div class="form-group col-lg-5 col-md-5 col-12">
                                <table id="table_site" class="table-hover wrap w-100">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Site:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>GD001</td>
                                        </tr>
                                        <tr>
                                            <td>GUDANG UTAMA</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr class="col-12" />
                            <h4 class="col-12">Items</h4>
                            <div class="form-group col-12 p-0">
                                <table id="table_ICItemsDetail" class="table table-hover wrap w-100">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle; width: 35%;">Item</th>
                                            <th class="text-right" style="vertical-align:middle;">Expected stock</th>
                                            <th class="text-right" style="vertical-align:middle;">Counted</th>
                                            <th class="text-right" style="vertical-align:middle;">Difference</th>
                                            <th class="text-right" style="vertical-align:middle;">Cost difference</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts
{
    <script src="~/Areas/Inventory/Lib/InvCounts.js"></script>
}

